In [70]:
import pandas as pd
import numpy as np

In [71]:

raw_df = pd.read_excel('NYMB_updates.xlsx')
display(raw_df.head())
raw_df = raw_df.dropna()
raw_df.dtypes

,Donor Number,DOFD,DOLD,#Oz,Zip code,Origin,Neighborhood,Number of Shipments
0,1,2022-08-02,2022-08-02 00:00:00,247.0,10280,Shipped from Donor,Battery Park,1.0
1,2,2019-04-10,2019-05-10 00:00:00,596.0,10282,\tColumbia Midtown,Battery Park,3.0
2,3,2019-05-17,2019-05-17 00:00:00,360.0,10282,Shipped from Donor,Battery Park,1.0
3,4,2016-07-06,2016-10-07 00:00:00,303.0,10282,Shipped from Donor,Battery Park,2.0
4,5,2021-04-09,2021-05-07 00:00:00,603.0,10280,Shipped from Donor,Battery Park,2.0

Donor Number                    int64
DOFD                   datetime64[ns]
DOLD                           object
#Oz                            object
Zip code                        int64
Origin                         object
Neighborhood                   object
Number of Shipments            object
dtype: object

In [72]:
display(raw_df['Zip code'].nunique())
display(raw_df['Neighborhood'].nunique())
display(raw_df.isnull().sum())

41

22

Donor Number           0
DOFD                   0
DOLD                   0
#Oz                    0
Zip code               0
Origin                 0
Neighborhood           0
Number of Shipments    0
dtype: int64

In [80]:
#clean up Oz column 
raw_df.rename(columns = {'#Oz':'Oz'}, inplace = True)
raw_df['Oz'] = raw_df['Oz'].replace(regex=[r'\D+'], value="")
raw_df['Oz'] = raw_df['Oz'].astype(float)

Donor Number                    int64
DOFD                   datetime64[ns]
DOLD                           object
Oz                            float64
Zip code                        int64
Origin                         object
Neighborhood                   object
Number of Shipments            object
dtype: object

In [85]:
raw_df.groupby('Neighborhood')['Oz'].mean().sort_values(ascending = False)

Neighborhood
Bowling Green                           2109.382928
Meatpacking District                     887.649534
Murray Hill                              710.655927
upper west side                          677.551425
Roosevelt Island                         675.000000
upper east side                          656.023823
Morningside Heights                      636.742004
Chelsea                                  635.237596
East Village                             595.168269
Midtown-West side                        575.703411
Harlem                                   564.045984
City Hall                                564.000000
Inwood                                   555.470867
Tribeca                                  552.209274
Washington Heights (upper west side)     499.336462
Battery Park                             433.805911
NOHO                                     429.500000
Hamilton Heights (upper west side)       408.964604
Midtown-East side                        342.023275
Stuyvesant Park                          296.896100
Lower East Side                          287.602716
Wall Street                              102.000000
Name: Oz, dtype: float64