In [1]:
import numpy as np
import pandas as pd

In [2]:
data_df = pd.read_excel('NYMB Manhattan Donors UPDATED with shipments.xlsx')
data_df.dropna(inplace=True)
data_df.shape

(254, 8)

In [3]:
data_df.head()

,Donor Number,DOFD,DOLD,#Oz,Zip code,Origin,Neighborhood,Number of Shipments
0,1,2022-08-02,2022-08-02 00:00:00,247,10280,Shipped from Donor,Battery Park,1.0
1,2,2019-04-10,2019-05-10 00:00:00,596,10282,\tColumbia Midtown,Battery Park,3.0
2,3,2019-05-17,2019-05-17 00:00:00,360,10282,Shipped from Donor,Battery Park,1.0
3,4,2016-07-06,2016-10-07 00:00:00,303,10282,Shipped from Donor,Battery Park,2.0
4,5,2021-04-09,2021-05-07 00:00:00,603,10280,Shipped from Donor,Battery Park,2.0

In [4]:
data_df.dtypes

Donor Number                    int64
DOFD                   datetime64[ns]
DOLD                           object
#Oz                            object
Zip code                        int64
Origin                         object
Neighborhood                   object
Number of Shipments           float64
dtype: object

In [5]:
# convert DOLD to datetime
data_df['DOLD'] = pd.to_datetime(data_df['DOLD'])

# convert number of ounces to float
data_df['#Oz'] = data_df['#Oz'].replace(regex=[r'\D+'], value="")
data_df['#Oz'] = data_df['#Oz'].astype(float)

# convert number of shipments to integer
data_df['Number of Shipments'] = data_df['Number of Shipments'].astype('int64')

In [6]:
data_df.head()

,Donor Number,DOFD,DOLD,#Oz,Zip code,Origin,Neighborhood,Number of Shipments
0,1,2022-08-02,2022-08-02,247.0,10280,Shipped from Donor,Battery Park,1
1,2,2019-04-10,2019-05-10,596.0,10282,\tColumbia Midtown,Battery Park,3
2,3,2019-05-17,2019-05-17,360.0,10282,Shipped from Donor,Battery Park,1
3,4,2016-07-06,2016-10-07,303.0,10282,Shipped from Donor,Battery Park,2
4,5,2021-04-09,2021-05-07,603.0,10280,Shipped from Donor,Battery Park,2

In [7]:
data_df.dtypes

Donor Number                    int64
DOFD                   datetime64[ns]
DOLD                   datetime64[ns]
#Oz                           float64
Zip code                        int64
Origin                         object
Neighborhood                   object
Number of Shipments             int64
dtype: object

In [8]:
data_df.groupby('Neighborhood')['#Oz'].mean().sort_values(ascending=False)

Neighborhood
Bowling Green                           2109.382928
Meatpacking District                     887.649534
Murray Hill                              710.655927
Roosevelt Island                         675.000000
upper west side                          668.585151
upper east side                          656.023823
Morningside Heights                      636.742004
Chelsea                                  635.237596
East Village                             595.168269
Midtown-West side                        575.703411
Harlem                                   564.045984
City Hall                                564.000000
Inwood                                   555.470867
Tribeca                                  552.209274
Washington Heights (upper west side)     499.336462
Battery Park                             433.805911
NOHO                                     429.500000
Hamilton Heights (upper west side)       408.964604
Midtown-East side                        342.023275
Stuyvesant Park                          296.896100
Lower East Side                          287.602716
Wall Street                              102.000000
Name: #Oz, dtype: float64

In [9]:
data_df.groupby('Neighborhood')['Number of Shipments'].mean().sort_values(ascending=False)

Neighborhood
Meatpacking District                    3.166667
City Hall                               3.000000
Roosevelt Island                        2.666667
upper west side                         2.630435
Murray Hill                             2.571429
Chelsea                                 2.153846
upper east side                         2.129630
Morningside Heights                     2.111111
East Village                            2.071429
NOHO                                    2.000000
Harlem                                  2.000000
Inwood                                  2.000000
Washington Heights (upper west side)    2.000000
Tribeca                                 2.000000
Midtown-West side                       1.850000
Stuyvesant Park                         1.666667
Battery Park                            1.666667
Lower East Side                         1.500000
Midtown-East side                       1.400000
Hamilton Heights (upper west side)      1.333333
Bowling Green                           1.000000
Wall Street                             1.000000
Name: Number of Shipments, dtype: float64

In [10]:
data_df['Number of Shipments'].corr(data_df['#Oz'])

0.7336258228775683

(No Strong correlation between the number of ounces and number of shipments)